extends ../layouts/frontend.pug

block content
    h1 LOGIN
    form(action="/login", method="post")
        
        input(type="text", name="mail", placeholder="Mail :")
        input(type="password", name="password", placeholder="Mot de passe :")
        button.btn.btn-primary(type="submit") Connection
        a(href="/register") Register