extends ../layouts/frontend.pug

block content
    h1 LOGIN
    form(action="/login", method="post")
        
        input(type="text", name="mail", placeholder="MEIL :")
        input(type="password", name="password", placeholder="MAUX 2 path :")
        button.btn.btn-primary(type="submit") Connaiktion
        a(href="/register") Register