extends ../layouts/frontend.pug

block content
    h1 ENREGISTREMENT 
    form(action="/register", method="post")
        input(type="text", name="firstname", placeholder="Nom :")
        input(type="text", name="lastname", placeholder="Prénom :")
        input(type="mail", name="mail", placeholder="Mail :")
        input(type="password", name="password", placeholder="Mot de passe :")
        input(type="password", name="password", placeholder="Confirmation :")
        button.btn.btn-primary(type="submit") S'inscrire
