extends ../layouts/frontend.pug

block content

        h1 Bienvenue
            div.container
                a.button.btn.btn-primary(href='/register') Créer un compte 
            
            div.container
                a.button.btn.btn-secondary(href="/login") Se connecter

            div.container
                a.button.btn.btn-warning(href="/game") JOUER