extends ../layouts/frontend.pug

block content

        h1 Bi1veunu sûr le geu
            div.container
                a.button.btn.btn-primary(href='/register') Crai un conte 
            
            div.container
                a.button.btn.btn-secondary(href="/login") Ce conneqtai

            div.container
                a.button.btn.btn-warning(href="/game") JOUé